.page-header {
    height: 80px;
    display: flex;
    background: var(--brand-second-color);
    border-bottom: 1px solid #ececec;

    .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        padding-right: 93px;
    }
}




