.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
}

@media screen and (min-width: 1200px) {
    //desktop
    .page-footer {

        &__container {
            
            align-items: flex-start;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // tablet
    .page-footer {

        &__container {
            
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    // mobile
    
}

