.consent {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consent__link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196f3;
}

.consent__label {
    margin-top: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.consent__input {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.consent__button {
    margin-left: 124px;
    margin-top: 30px;
}
