.social {
    margin-top: 60px;
    margin-bottom: 46px;
    width: calc(100vw - 30px);
    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-second-color);
    }
}

.footer-social {
    text-align: left;
    width: 206px;

    list-style: none;
    display: inline-flex;
    justify-content: space-between;

    &__icon {
        fill: var(--brand-second-color);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        transition: var(--transition);
        transition-property: background-color;

        &:active,
        &:hover,
        &:focus {
            background-color: var(--brand-main-color);
        }
    }
}

@media screen and (min-width: 1200px) {
    //desktop
    .social {
        width: 206px;
        margin-top: 14px;
        margin-left: 70px;

        &__title {
            text-align: left;
        }
    }

    .footer-social {
        text-align: left;
        width: 206px;
        list-style: none;
        display: inline-flex;
        justify-content: space-between;

        &__icon {
            fill: var(--brand-second-color);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            transition: var(--transition);
            transition-property: background-color;

            &:active,
            &:hover,
            &:focus {
                background-color: var(--brand-main-color);
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // tablet
    .social {
        width: calc(50vw - 30px);
        margin-top: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    // mobile
}
