.team {
    display: flex;
    align-items: center;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    &__item {
        width: 450px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
        background-color: var(--brand-second-color);
    }
    &__description {
        padding-top: 30px;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--text-main-color);
    }

    &__icon {
        fill: #afb1b8;
        background-color: var(--brand-second-color);
        border-radius: 50%;
        transition: var(--transition);
        transition-property: fill, background-color;

        &:active,
        &:hover,
        &:focus {
            fill: var(--brand-second-color);
            background-color: var(--brand-main-color);
        }
    }

    &__social {
        margin-top: 16px;
        margin-bottom: 30px;
        width: 206px;
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
}
@media screen and (min-width: 1200px) {
    //  desktop
    .team {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: none;
        &__item {

            width: 270px;
            
            margin-left: 15px;
            margin-right: 15px;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // tablet
    .team {
        flex-direction: row;
        &__item {
            width: 354px;
            
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    // mobilie
}
