* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }


.page {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: var(--text-main-color);
    background: var(--brand-second-color);
}
