.section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }
    &__preferences {
        padding-top: 0;
    }
    &__team {
        background-color: #f5f4fa;
    }
    &__preferences {
        display: none;
        overflow: hidden;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 94px;
        padding-bottom: 94px;

        &__title {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
        }
        &__preferences {
            display: block;
            overflow: visible;
            padding-top: 0;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // tablet
}
@media screen and (min-width: 450px) and (max-width: 767px) {
    //mobile
}

