.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
}

